section.min-hooks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  flex-wrap: nowrap;
}
 .widgets-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 675px) {
  div.widgets-container {
      flex-direction: row;
    }
}
div.min-hooks-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 900px;
}
@media screen and (max-width: 400px) {
  div.min-hooks-body {
      flex-direction: column  ;
    }
}
article.message-display {
  position: fixed;
  right: 0;
  bottom: 0;
}
