.widget-add-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: lightgray;
  padding: 0.5em;
  min-width: 325px;
  margin: 2px;
}
.widget-add-control > *{
  margin: 0.3em;
  padding: 0.3em;
}
.widget-add-control h4 {
  margin: 0.5em;
}
.widget-add-control fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}