article.message-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding: 1em;
    background: lightgray;
}
article.message-control fieldset:nth-child(1){
    background: red;
    display: flex;
    flex-direction: column;
}
