article.message-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding: 0.5em;
    background: lightgray;
    margin: 2px;
    min-width: 325px;
}
article.message-control .message-control-layout-a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
article.message-control .message-control-layout-a label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
