article.message-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding: 1em;
    background: lightgray;
}
article.message-control .message-control-layout-a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
article.message-control .message-control-layout-a label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
